<div class="content-wrapper" style="min-height: 422px;">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Requests Management</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item">Home / <span style="color: rgb(46, 46, 240);">Requests Dashboard</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-md-3">
          <div class="card card-primary card-outline">
            <div class="card-body box-profile">
              <div class="text-center">
                <img class="profile-user-img img-fluid img-circle" src="../../../../../assets/img/avatar.png" alt="User profile picture">
              </div>
              <h3 class="profile-username text-center">Nina Mcintire</h3>
              <p class="text-muted text-center">Software Engineer</p>
              <ul class="list-group list-group-unbordered mb-3">
                <li class="list-group-item">
                  <b>Username</b> <a class="float-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Email</b> <a class="float-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Name</b> <a class="float-right">13,287</a>
                </li>
              </ul>
              <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
          </div>
        </div> -->

        <div class="col-md-12">
          <div class="card">
            <div class="card-header p-2">
              <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link active" href="#newRequest" data-toggle="tab">New Request</a></li>
                <li class="nav-item"><a class="nav-link" href="#requestManagement" data-toggle="tab">Request Management</a></li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content">
                

                    <form class="active tab-pane" id="newRequest">                  
                        <div class="row">
                          <div class="col-md-9">
                            <div class="form-group">
                              <p-editor [style]="{'height':'220px'}">
                                <ng-template pTemplate="header">
                                    <span class="ql-formats">
                                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                                        <button type="button" class="ql-underline" aria-label="Underline"></button>               
                                    </span>
                                </ng-template>
                            </p-editor>
                            </div>
                          </div>

                          <div class="col-md-3">
                            <div class="card">
                           
                              <div class="card-body">
                              <div class="form-group">
                              <div class="row">
                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="facility">Facility</label>
                                      <select class="form-control" id="facility" (change)="findFacility($event)">
                                        <option value="">Choose Facility</option>
                                        <ng-container *ngIf="facilities != null">
                                          <option *ngFor="let faci of facilities" [ngValue]="faci.id" value="{{faci.id}}">{{faci.name}}</option>
                                        </ng-container>
                                      </select>
                                    </div>
                                  </div>

                                  <div class="col-md-6">
                                    <div class="form-group">
                                      <label for="facility">Service</label>
                                      <select name="" class="form-control" id="facility">
                                        <!-- <option value="">Choose Service</option> -->
                                        <ng-container *ngIf="services != null">
                                          <option *ngFor="let service of services" [ngValue]="service.id">{{service.name}}</option>
                                        </ng-container>
                                      </select>

                                    </div>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <label for="facility">Priority</label>
                                  <select name="" class="form-control" id="facility">
                                    <!-- <option value="">Choose Service</option> -->
                                    <ng-container *ngIf="priorities != null">
                                      <option *ngFor="let priority of priorities" [ngValue]="priority.id">{{priority.name}}</option>
                                    </ng-container>
                                  </select>
                                </div>
                            </div>
                            </div>
                            <div class="card-footer">

                            <button id="submitBTN" class="btn btn-lg btn-primary" style="background-color: rgb(26, 170, 110) !important;">Send</button>

                             </div>
                          </div>
                          </div>
                        </div>
                      </form>

                <div class="tab-pane" id="requestManagement">
                  <div class="card">
                    <div class="card-header">
                       Request Table
                      <!-- <a class="btn btn-outline-success float-right" data-toggle="modal" data-target="#new-facility" >Add Facility</a> -->
                      <div class="card-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                          <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
      
                          <div class="input-group-append">
                            <button type="submit" class="btn btn-default">
                              <i class="fas fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <!-- /.card-header -->
                    <div class="card-body">
                      <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                          <div class="col-sm-12 col-md-6"></div>
                          <div class="col-sm-12 col-md-6"></div>
                        </div>
                        <div class="row">
                          <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                              aria-describedby="example2_info">
                              <thead>
                                <tr role="row">
                                    <th>ID</th>
                                    <th>Facility</th>
                                    <th>Service</th>
                                    <th>Status</th>
                                    <th>Description</th>
                                    <th>Start Date</th>
                                    <th>Action</th>
                                   </tr>
                              </thead>
                              <tbody>
                                <tr class="odd">
                                  <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                                  <td>Firefox 1.0</td>
                                  <td>Win 98+ / OSX.2+</td>
                                  <td>1.7</td>
                                  <td>A</td>
                                  <td>2020/2/2</td>
                                  <td class="text-center">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#requestDetail"(click)="detailRequest(1)" >Access</button>&nbsp;&nbsp;
                                  </td>
                                </tr>
                                <!-- <ng-container *ngIf="facilities != null">
                                  <ng-container *ngFor="let facility of facilities">
                                    <tr>
                                    <td>{{facility.id}}</td>
                                    <td>{{facility.name}}</td>
                                    <td>{{facility.head.name}}</td>
                                    <td>{{facility.description}}</td>
                                    <td class="text-center">
                                      <button class="btn btn-primary" data-toggle="modal" data-target="#update-facility"(click)="detailFacility(facility.id)" >Update</button>&nbsp;&nbsp;
                                      <button class="btn btn-danger" data-toggle="modal" data-target="#delete-facility" (click)="deleteFacility(facility.id)">Delete</button>
                                    </td>
                                    </tr>
                                  </ng-container>
                                </ng-container> -->
                              </tbody>
                             </table>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="requestDetail" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <form [formGroup]="requestDetailForm" (ngSubmit)="submit()">
          <div class="modal-header">
            <h4 class="modal-title">Detail Request No</h4>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>One fine body…</p>
            <hr style="border-color: white !important;">
            <div class="form-group">
              <label for="reason">Reason to Close</label>
              <input class="form-control" formControlName="reason" placeholder="Like! What happen?" type="text" id="reason"  >
              <div *ngIf="detail.reason.touched && detail.reason.invalid" class="form-control is-invalid">

                <span *ngIf="detail.reason.errors.required">Name is required.</span>
    
                <span *ngIf="detail.reason.errors.minlength">Reason should be more than 10 Character.</span>
    
              </div>
            </div>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="submit"  class="btn btn-primary" >Save changes</button>
            <input type="hidden" value="">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </section>

</div>
<style>

</style>
  