<div class="content-wrapper" style="min-height: 422px;">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Facility DashBoard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">Home / <span style="color: rgb(46, 46, 240);">Facility Dashboard</span></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                 Facility Table
                <a class="btn btn-outline-success float-right" data-toggle="modal" data-target="#new-facility" >Add Facility</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div id="example2_wrapper" class="dataTables_wrapper dt-bootstrap4">
                  <div class="row">
                    <div class="col-sm-12 col-md-6"></div>
                    <div class="col-sm-12 col-md-6"></div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <table id="example2" class="table table-bordered table-hover dataTable dtr-inline" role="grid"
                        aria-describedby="example2_info">
                        <thead>
                          <tr role="row">
                              <th>ID</th>
                              <th>Name</th>
                              <th>Head</th>
                              <th>Description</th>
                              <th>Action</th>
                             </tr>
                        </thead>
                        <tbody>
                          <!-- <tr class="odd">
                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                            <td>Firefox 1.0</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td>1.7</td>
                            <td>A</td>
                            <td></td>
                          </tr>
                          <tr class="even">
                            <td class="dtr-control sorting_1" tabindex="0">Gecko</td>
                            <td>Firefox 1.5</td>
                            <td>Win 98+ / OSX.2+</td>
                            <td>1.8</td>
                            <td>A</td>
                            <td></td>
                          </tr> -->
                          <ng-container *ngIf="facilities != null">
                            <ng-container *ngFor="let facility of facilities">
                              <tr>
                              <td>{{facility.id}}</td>
                              <td>{{facility.name}}</td>
                              <td>{{facility.head.name}}</td>
                              <td>{{facility.description}}</td>
                              <td class="text-center">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#update-facility"(click)="detailFacility(facility.id)" >Update</button>&nbsp;&nbsp;
                                <button class="btn btn-danger" data-toggle="modal" data-target="#delete-facility" (click)="deleteFacility(facility.id)">Delete</button>
                              </td>
                              </tr>
                            </ng-container>
                          </ng-container>
                        </tbody>
                       </table>
                    </div>
                  </div>
                  <div class="row">
                    <!-- Pagination -->
                    
                    <!-- <div class="col-sm-12 col-md-5">
                      <div class="dataTables_info" id="example2_info" role="status" aria-live="polite">Showing 1 to 10 of
                        57 entries</div>
                    </div> -->
                    <!-- <div class="col-sm-12 col-md-7">
                      <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                        <ul class="pagination">
                          <li class="paginate_button page-item previous disabled" id="example2_previous"><a href="#"
                              aria-controls="example2" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li>
                          <li class="paginate_button page-item active"><a href="#" aria-controls="example2"
                              data-dt-idx="1" tabindex="0" class="page-link">1</a></li>
                          <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="2"
                              tabindex="0" class="page-link">2</a></li>
                          <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="3"
                              tabindex="0" class="page-link">3</a></li>
                          <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="4"
                              tabindex="0" class="page-link">4</a></li>
                          <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="5"
                              tabindex="0" class="page-link">5</a></li>
                          <li class="paginate_button page-item "><a href="#" aria-controls="example2" data-dt-idx="6"
                              tabindex="0" class="page-link">6</a></li>
                          <li class="paginate_button page-item next" id="example2_next"><a href="#"
                              aria-controls="example2" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li>
                        </ul>
                      </div>
                    </div> -->
                  </div>
  
                </div>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
        </div>
      </div>
      
      <!-- MODAL -->
      <div class="modal fade" id="new-facility" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Add Facility</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <form [formGroup]="facilityAddForm" (ngSubmit)="addFacility()">
            <div class="modal-body">
             
                <div class="mb-3">
                  <label for="fullname" class="col-form-label">Name</label>
                  <input type="text" class="form-control" id="fullname" formControlName="name">
                </div>
  
                <div class="mb-3">
                  Head Account:<select class="form-select form-select-sm" formControlName="headaccountid" >
                    <ng-container *ngIf="accounts != null">
                      <option *ngFor="let account of accounts" [ngValue]="account.id">{{account.name}}</option>
                    </ng-container>
                  </select>
                </div>

                <div class="mb-3">
                  <label for="desc" class="col-form-label">Description</label>
                  <textarea type="text" class="form-control" id="desc" formControlName="description"> </textarea>
                </div>
                
                
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" (click)="addFacility()" data-dismiss="modal">Save</button>
              </div>
            </form>
            </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <div class="modal fade" id="update-facility" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Update Facility</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
             
              <form [formGroup]="facilityUpdateForm" >
                <div class="modal-body">
                 
                    <div class="mb-3">
                      <label for="fullname" class="col-form-label">Name</label>
                      <input type="text" class="form-control" id="fullname" formControlName="name">
                    </div>
      
                    <div class="mb-3">
                      Head Account:<select class="form-select form-select-sm" formControlName="headaccountid" >
                        <ng-container *ngIf="accounts != null">
                          <option *ngFor="let account of accounts" [ngValue]="account.id">{{account.name}}</option>
                        </ng-container>
                      </select>
                    </div>
    
                    <div class="mb-3">
                      <label for="desc" class="col-form-label">Description</label>
                      <textarea type="text" class="form-control" id="desc" formControlName="description"> </textarea>
                    </div>
                    
                    
                  </div>
                  <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" (click)="noUpdate()" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" (click)="facilityUpdate()" data-dismiss="modal">Save</button>
                  </div>
                </form>
  
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>

      <div class="modal fade" id="delete-facility" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure?</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
          <form [formGroup]="facilityDeleteForm" (ngSubmit)="actualDelete()">
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-primary" (click)="actualDelete()" data-dismiss="modal">YES</button>
              <input type="hidden" formControlName="id">
              <button type="button" class="btn btn-danger" data-dismiss="modal">NO</button>
            </div>
          </form>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </section>
  </div>
  <style>
  
  </style>